{% extends 'base.html' %}
{% block content %}

<div class="container">
{% for blog in posts %}
<br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{blog.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
      <p class="card-text">{{blog.summary}}<a href="{% url 'detail' blog.id %}"> .... Read more</a></p>
    </div>
  </div>
{% endfor %}
<br>
<div class="text-right"><a href="{% url 'new' %}"><button type="button" class="btn btn-info pull-right">New Post</button></a></div>
</div>
<nav>
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1"><span aria-hidden="true">&laquo;</span></a></li>
      <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}"><span aria-hidden="true">&lsaquo;</span></a></li>
    {% else %}
      <li class="page-item"><a class="page-link"><span aria-hidden="true">&laquo;</span></a></li>
      <li class="page-item"><a class="page-link"><span aria-hidden="true">&lsaquo;</span></a></li>
    {% endif %}

    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="page-item active">
          <a class="page-link" href="?page={{ i }}"><span>{{ i }}<span class="sr-only">(current)</span></span></a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if posts.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}"><span aria-hidden="true">&rsaquo;</span></a></li>
      <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}"><span aria-hidden="true">&raquo;</span></a></li>
    {% else %}
      <li class="dlsabled page-item"><a class="page-link"><span aria-hidden="true">&rsaquo;</span></a></li>
      <li class="dlsabled page-item"><a class="page-link"><span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}